<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-info" *ngIf="!servis.OturumKontrol()">Lütfen oturum Açınız</div>
    </div>
  </div>
</div>
<section class="mt-3">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="card shadow-lg">
                  <img src="assets/img/card-1.jpg" alt=""class = "img-fluid">
                  <div class="card-body">
                      <p class="h3">Satılık Villa</p>
                      <p>Toplamda 426 m2 arsası vardır ve 224 m2 net daire içi kullanım alanı mevcuttur. 5 adet yatak odası vardır. 4 adet banyosu vardır. Toplam inşaat taban oturumu 108 m2 ve 324 m2 inşaat alanı vardır ve net bahçe kullanım alanı 260 m2'dir.İnsaat projesinde birinci sınıf malzeme kullanılmıştır</p>
                      <button class="btn btn-danger btn-sm" routerLink="/ilanlar/2">Satılık</button>
                    <div *ngIf="favButon == 'false'" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" (click)="favbuton1()">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                              </svg>
                    </div>
                     
                        <div  *ngIf="favButon == 'true'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" (click)="favbuton1()">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                              </svg>
</div>

                    
                     
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card shadow-lg">
                  <img src="assets/img/card-4.jpg" alt=""class = "img-fluid">
                  <div class="card-body">
                      <p class="h3">Satılık Villa</p>
                      <p>Toplamda 426 m2 arsası vardır ve 224 m2 net daire içi kullanım alanı mevcuttur. 5 adet yatak odası vardır. 4 adet banyosu vardır. Toplam inşaat taban oturumu 108 m2 ve 324 m2 inşaat alanı vardır ve net bahçe kullanım alanı 260 m2'dir.İnsaat projesinde birinci sınıf malzeme kullanılmıştır</p>
                      <button class="btn btn-danger btn-sm" routerLink="/ilanlar/2">Satılık</button>
                      <div *ngIf="favButon4 == 'false'" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" (click)="favbuton4()">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg>
                </div>
                 
                    <div  *ngIf="favButon4 == 'true'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" (click)="favbuton4()">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg>
</div>
                  </div>
              </div>
          </div> <div class="col-md-3">
              <div class="card shadow-lg">
                  <img src="assets/img/card-3.jpg" alt=""class = "img-fluid">
                  <div class="card-body">
                      <p class="h3">Kiralık Villa</p>
                      <p>Toplamda 426 m2 arsası vardır ve 224 m2 net daire içi kullanım alanı mevcuttur. 5 adet yatak odası vardır. 4 adet banyosu vardır. Toplam inşaat taban oturumu 108 m2 ve 324 m2 inşaat alanı vardır ve net bahçe kullanım alanı 260 m2'dir.İnsaat projesinde birinci sınıf malzeme kullanılmıştır </p>
                      <button class="btn btn-danger btn-sm" routerLink="/ilanlar/1">Kiralık</button>
                      <div *ngIf="favButon2 == 'false'" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" (click)="favbuton2()">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg>
                </div>
                 
                    <div  *ngIf="favButon2 == 'true'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" (click)="favbuton2()">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg>
</div>
                  </div>
              </div>
          </div> <div class="col-md-3">
              <div class="card shadow-lg">
                  <img src="assets/img/card-2.jpg" alt=""class = "img-fluid">
                  <div class="card-body">
                      <p class="h3">Kiralık Villa</p>
                      <p>Toplamda 426 m2 arsası vardır ve 224 m2 net daire içi kullanım alanı mevcuttur. 5 adet yatak odası vardır. 4 adet banyosu vardır. Toplam inşaat taban oturumu 108 m2 ve 324 m2 inşaat alanı vardır ve net bahçe kullanım alanı 260 m2'dir.İnsaat projesinde birinci sınıf malzeme kullanılmıştır</p>
                      <button class="btn btn-danger btn-sm" routerLink="/ilanlar/1">Kiralık</button>
                      <div *ngIf="favButon3 == 'false'" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" (click)="favbuton3()">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg>
                </div>
                 
                    <div  *ngIf="favButon3 == 'true'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" (click)="favbuton3()">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg>
</div>
                  </div>
              </div>
          </div>
      </div>
  </div>


</section>
